/* common style  */

main{display: flex;
    flex-direction: column;
    align-items: center;}
body{margin:0; padding:0;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 33px 30px;
    margin-top: 16px;
    border-radius: 5px;

}
.Top_Player_Title,.blog-title,.course-title {
    color: #562EFF;
    margin-top: 10px;
    font-size: 20px;
}

/* top players style  */


.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    grid-column-gap: 20px;
    grid-row-gap:16px;
    border-bottom: 2px solid rgb(226, 220, 220);
    padding-bottom: 30px;
}
.player{display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{margin-left: 16px;
font-size: 18px;}


/*-----------------------
        top blog part
--------------------------  */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.thumbnail img{
    width: 177px;
    height: 117;
}
.blog-info{
    margin-left:16px;
}

.author-author{
    color: rgb(231, 219, 219);
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color: rgb(141, 194, 194);
}

/* ---------------
    media query
----------------- */
.couses{
 display: grid;
 grid-template-columns: repeat(3, 1fr);   
}
.couses img{
    width: 266px;
    height: 141px;
}
.course-content h3{width: 220px;}
.couse-info{
    display: flex;
    justify-content: left;
    align-items: center;
}


.fa-star.filled{
    color: #FFC014;
    font-size: .9em;
}
.fa-star.unfilled{
    color:#AEAEAE;
    margin-right: 5px;
}
.course-time{
    background-color: #FFE4E8;
    border: 1px solid #FFE4E8;
    border-radius: 15px;
    padding:0 10px;
    margin-left: 5px;
}



















/* ---------------
    media query
----------------- */
